/.idea/.gitignore
/.idea/App-2-Flatmates-Bill.iml
/files/April 2021.pdf
/files/April 2030.pdf
/files/house.png
/files/March 2022.pdf
/files/May 202020.pdf
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
